@import '../../../assets/styles/colors.scss';

.nav-item {
  display: flex;
  align-items: center;
  height: 48px;
  color: $text-color-dark;
  cursor: pointer;
}

.nav-link {
  width: 100%;
  color: $text-color-dark;
  text-decoration: none;
}

.nav-item:hover {
  background-color: $sidebar-hover;
}

.nav-item.active {
  border-left: 2px solid $layout-dark-color;
  background-color: $sidebar-active;
}