<div class="user-details">
  <h2 class="user-details-title">{{ 'userDetailsTitle' | translate }}</h2>
  <div class="fields">
    <div class="fields-column">
      <p class="field"><span class="field-title">{{ 'name' | translate}}:</span> {{ userData.name }}</p>
      <p class="field"><span class="field-title">{{ 'firstName' | translate}}:</span> {{ userData.given_name }}</p>
    </div>
    <div class="fields-column">
      <p class="field"><span class="field-title">{{ 'email' | translate}}:</span> {{ userData.email }}</p>
      <p class="field"><span class="field-title">{{ 'lastName' | translate}}:</span> {{ userData.family_name }}</p>
    </div>
  </div>
  <p></p>
</div>
