@import '../../../../../assets/styles/colors.scss';

.user-details {
  padding: 20px;
  background-color: $white;
  box-shadow: $box-shadow-color 0px 8px 24px;
  border-radius: 2px;
  border: 1px solid $main-text-color;
  border-left-width: 5px;

  .user-details-title {
    margin-bottom: 20px;
    color: $main-text-color;
  }

  .fields {
    display: flex;
    justify-content: space-between;

    .fields-column {
      width: 50%;
    }

    .field {
      display: flex;
      flex-direction: column;
      gap: 4px;
      color: $main-text-color;

      &:first-child {
        margin-bottom: 20px;
      }

      .field-title {
        font-weight: 600;
      }
    }
  }
}
