
@use '@angular/material' as mat;
@import './colors.scss';
@include mat.core();

$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;
$custom-palette: (
  50: #0f8dc5,
  100: #0f8dc5,
  200: #0f8dc5,
  300: #0f8dc5,
  400: #0f8dc5,
  500: #0f8dc5,
  600: #0f8dc5,
  700: #0f8dc5,
  800: #0f8dc5,
  900: #0f8dc5,
  A100: #0f8dc5,
  A200: #0f8dc5,
  A400: #0f8dc5,
  A700: #0f8dc5,
  contrast: (
    800: $light-primary-text,
  ),
);
$my-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette($custom-palette, 800),
      accent: mat.define-palette($custom-palette, 800),
    ),
  )
);

@include mat.button-theme($my-theme);

.primary-btn {
  background-color: $primary-btn-color;
  color: $white;
  padding: 8px;
  border: none;
  border-radius: 3px;

  &:hover {
    background-color: $primary-btn-hover-color;
  }
}

button {
  cursor: pointer;

  &:disabled {
    padding: 8px;
    border: none;
    border-radius: 3px;
    background-color: $disabled-btn-bg-color;
    color: $disabled-btn-color;
    cursor: not-allowed;

    &:hover {
      background-color: $disabled-btn-bg-color;
      color: $disabled-btn-color;
    }
  }
}

.disabled {
  padding: 8px;
  border: none;
  border-radius: 3px;
  background-color: $disabled-btn-bg-color;
  color: $disabled-btn-color;
  cursor: not-allowed;
}
