$layout-dark-color: #05164d;
$main-text-color: #05164d;
$text-color-white: #ffffff;
$text-color-disabled: #ffffff80;
$text-color-dark: #1a2e6f;
$button-hover-color: #0f8dc5;
$nav-color: #ffffff;
$white: #ffffff;
$black: #000000;
$background-color: #f3f3f6;
$primary-btn-color: #0f8dc5;
$primary-btn-hover-color: #156e94;
$column-chooser-btn-hover-color: #0f8dc51f;
$applied-filter-grid: #ffad00;
$button-pressed-backgroud: #0f8dc51f;
$progress-bar-primary-color: #cdd0da;
$progress-bar-secondary-color: #556086;
$disabled-btn-bg-color: #cccccc;
$disabled-btn-color: #666666;
