@import "./variables/colors.scss";
@import "./base/normalize.scss";
@import "./base/reset.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
