@import './colors.scss';

html {
  height: 100%;
  font-size: 10px;
}

body {
  height: 100%;
  font-family: Text-Font, sans-serif !important;
  font-size: 1.6rem;
  font-weight: 400;
  color: $text-color-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}
